In [309]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

Uso de las tablas de clean para feature engineering

In [310]:
#Cargar los datos
dim_user_plans=pd.read_csv("../data/clean/dim_user_plans.csv")
fct_sales=pd.read_csv("../data/clean/fct_sales.csv")

In [311]:
#A침adir la columna month y year
fct_sales['date']=pd.to_datetime(fct_sales['date'])
fct_sales['month']=fct_sales['date'].dt.month
fct_sales['year']=fct_sales['date'].dt.year
#Quitamos la columna date
fct_sales=fct_sales.drop(columns=['date'])
#Agrupar por mes,a침o y user_id
fct_sales=fct_sales.groupby(['month','year','user_id']).sum().reset_index()
fct_sales.head()

   month  year  user_id  total_minutes  total_messages  total_mb
0      1  2018     1000            0.0             0.0       0.0
1      1  2018     1001            0.0             0.0       0.0
2      1  2018     1002            0.0             0.0       0.0
3      1  2018     1003            0.0             0.0       0.0
4      1  2018     1004            0.0             0.0       0.0

In [312]:
print(fct_sales.loc[fct_sales['month']==12])

      month  year  user_id  total_minutes  total_messages  total_mb
5390     12  2018     1000         116.83            11.0   1901.47
5391     12  2018     1001         317.90            44.0  17107.49
5392     12  2018     1002         297.46            41.0  14396.24
5393     12  2018     1003         947.49            50.0  21721.97
5394     12  2018     1004         287.66            31.0  20440.42
...     ...   ...      ...            ...             ...       ...
5875     12  2018     1495         447.51             0.0  22056.71
5876     12  2018     1496         278.61            11.0  15489.09
5877     12  2018     1497         215.47            50.0   8876.22
5878     12  2018     1498         285.67             0.0  21044.82
5879     12  2018     1499         445.86             0.0  20614.24

[490 rows x 6 columns]

In [313]:
#Tabla que 
#A침adir el costo total viendo si un usuario uso m치s de lo que abastece su plan por cada mes
fct_sales=pd.merge(fct_sales,dim_user_plans,on='user_id',how='left')
fct_sales['exceso_messages'] = fct_sales.apply(lambda row: max(0, row['total_messages'] - row['messages_included']), axis=1)
fct_sales['exceso_mb_used'] = fct_sales.apply(lambda row: max(0, row['total_mb'] - row['mb_per_month_included']), axis=1)
fct_sales['exceso_minutes'] = fct_sales.apply(lambda row: max(0, row['total_minutes'] - row['minutes_included']), axis=1)
fct_sales['costo_extra_messages'] = fct_sales['exceso_messages'] * fct_sales['usd_per_message']
fct_sales['costo_extra_mb_used'] = fct_sales['exceso_mb_used'] * fct_sales['usd_per_mb']
fct_sales['costo_extra_minutes'] = fct_sales['exceso_minutes'] * fct_sales['usd_per_minute']
fct_sales['costo_extra'] = fct_sales['costo_extra_messages'] + fct_sales['costo_extra_mb_used'] + fct_sales['costo_extra_minutes']
fct_sales['total_cost'] = fct_sales['usd_monthly_pay'] + fct_sales['costo_extra']
print(fct_sales.head())

   month  year  user_id  total_minutes  total_messages  total_mb first_name  \
0      1  2018     1000            0.0             0.0       0.0   Anamaria
1      1  2018     1001            0.0             0.0       0.0     Mickey
2      1  2018     1002            0.0             0.0       0.0     Carlee
3      1  2018     1003            0.0             0.0       0.0   Reynaldo
4      1  2018     1004            0.0             0.0       0.0    Leonila

   last_name  age                                   city  ... usd_per_minute  \
0      Bauer   45  Atlanta-Sandy Springs-Roswell, GA MSA  ...           0.01
1  Wilkerson   28        Seattle-Tacoma-Bellevue, WA MSA  ...           0.03
2    Hoffman   36   Las Vegas-Henderson-Paradise, NV MSA  ...           0.03
3    Jenkins   52                          Tulsa, OK MSA  ...           0.03
4   Thompson   40        Seattle-Tacoma-Bellevue, WA MSA  ...           0.03

  plan_name  exceso_messages  exceso_mb_used  exceso_minutes  \
0  ultimate              0.0             0.0             0.0
1      surf              0.0             0.0             0.0
2      surf              0.0             0.0             0.0
3      surf              0.0             0.0             0.0
4      surf              0.0             0.0             0.0

   costo_extra_messages  costo_extra_mb_used  costo_extra_minutes  \
0                   0.0                  0.0                  0.0
1                   0.0                  0.0                  0.0
2                   0.0                  0.0                  0.0
3                   0.0                  0.0                  0.0
4                   0.0                  0.0                  0.0

   costo_extra total_cost
0          0.0       70.0
1          0.0       20.0
2          0.0       20.0
3          0.0       20.0
4          0.0       20.0

[5 rows x 28 columns]

In [314]:
#Se a침aden una feature que trabaje con city y tome la primera palabra (antes del espacio xq hay 2 palabras) despu칠s de la coma para tener el c칩digo de la ciudad
fct_sales['city_code']=fct_sales['city'].str.split(',').str[1].str.split(' ').str[1]

#Usar ordinal encoder para brindar un orden a las ciudades
fct_sales['city_code']=OrdinalEncoder().fit_transform(fct_sales[['city_code']]).astype(int)
fct_sales.head()

,month,year,user_id,total_minutes,total_messages,total_mb,first_name,last_name,age,city,...,plan_name,exceso_messages,exceso_mb_used,exceso_minutes,costo_extra_messages,costo_extra_mb_used,costo_extra_minutes,costo_extra,total_cost,city_code
0,1,2018,1000,0.0,0.0,0.0,Anamaria,Bauer,45,"Atlanta-Sandy Springs-Roswell, GA MSA",...,ultimate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0,7
1,1,2018,1001,0.0,0.0,0.0,Mickey,Wilkerson,28,"Seattle-Tacoma-Bellevue, WA MSA",...,surf,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,40
2,1,2018,1002,0.0,0.0,0.0,Carlee,Hoffman,36,"Las Vegas-Henderson-Paradise, NV MSA",...,surf,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,23
3,1,2018,1003,0.0,0.0,0.0,Reynaldo,Jenkins,52,"Tulsa, OK MSA",...,surf,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,28
4,1,2018,1004,0.0,0.0,0.0,Leonila,Thompson,40,"Seattle-Tacoma-Bellevue, WA MSA",...,surf,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,40

In [315]:
fct_sales['reg_date'] = pd.to_datetime(fct_sales['reg_date'])

# Extrae mes y a침o de 'reg_date'
fct_sales['reg_month'] = fct_sales['reg_date'].dt.month
fct_sales['reg_year'] = fct_sales['reg_date'].dt.year

fct_sales = fct_sales[(fct_sales['reg_year'] <= fct_sales['year'])  & (fct_sales['reg_month'] <= fct_sales['month'])]



# Muestra el resultado
print(fct_sales.head())

    month  year  user_id  total_minutes  total_messages  total_mb  first_name  \
3       1  2018     1003           0.00             0.0      0.00    Reynaldo
11      1  2018     1011           0.00             0.0      0.00      Halina
19      1  2018     1019           0.00             0.0      0.00      Shizue
28      1  2018     1029           0.00             0.0      0.00    Franklyn
41      1  2018     1042         106.83             0.0   1854.93  Clementina

     last_name  age                                             city  ...  \
3      Jenkins   52                                    Tulsa, OK MSA  ...
11       Henry   73                         Cleveland-Elyria, OH MSA  ...
19      Landry   34                             Jacksonville, FL MSA  ...
28      Henson   59          Tampa-St. Petersburg-Clearwater, FL MSA  ...
41  Mclaughlin   40  Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA  ...

   exceso_mb_used exceso_minutes  costo_extra_messages  costo_extra_mb_used  \
3             0.0            0.0                   0.0                  0.0
11            0.0            0.0                   0.0                  0.0
19            0.0            0.0                   0.0                  0.0
28            0.0            0.0                   0.0                  0.0
41            0.0            0.0                   0.0                  0.0

    costo_extra_minutes  costo_extra  total_cost  city_code  reg_month  \
3                   0.0          0.0        20.0         28          1
11                  0.0          0.0        70.0         26          1
19                  0.0          0.0        20.0          6          1
28                  0.0          0.0        20.0          6          1
41                  0.0          0.0        20.0         31          1

   reg_year
3      2018
11     2018
19     2018
28     2018
41     2018

[5 rows x 31 columns]

In [316]:
#Extraer mes y a침o de churn_date
fct_sales['churn_date'] = pd.to_datetime(fct_sales['churn_date'])
fct_sales['churn_month'] = fct_sales['churn_date'].dt.month
fct_sales['churn_year'] = fct_sales['churn_date'].dt.year
fct_sales=fct_sales[(fct_sales['churn_year'] >= fct_sales['year'])  & (fct_sales['churn_month'] >= fct_sales['month'])]
print(fct_sales.head())

    month  year  user_id  total_minutes  total_messages  total_mb  first_name  \
3       1  2018     1003           0.00             0.0      0.00    Reynaldo
11      1  2018     1011           0.00             0.0      0.00      Halina
19      1  2018     1019           0.00             0.0      0.00      Shizue
28      1  2018     1029           0.00             0.0      0.00    Franklyn
41      1  2018     1042         106.83             0.0   1854.93  Clementina

     last_name  age                                             city  ...  \
3      Jenkins   52                                    Tulsa, OK MSA  ...
11       Henry   73                         Cleveland-Elyria, OH MSA  ...
19      Landry   34                             Jacksonville, FL MSA  ...
28      Henson   59          Tampa-St. Petersburg-Clearwater, FL MSA  ...
41  Mclaughlin   40  Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA  ...

   costo_extra_messages costo_extra_mb_used  costo_extra_minutes  costo_extra  \
3                   0.0                 0.0                  0.0          0.0
11                  0.0                 0.0                  0.0          0.0
19                  0.0                 0.0                  0.0          0.0
28                  0.0                 0.0                  0.0          0.0
41                  0.0                 0.0                  0.0          0.0

    total_cost  city_code  reg_month  reg_year  churn_month churn_year
3         20.0         28          1      2018           12       2261
11        70.0         26          1      2018           12       2261
19        20.0          6          1      2018           12       2261
28        20.0          6          1      2018           12       2261
41        20.0         31          1      2018           12       2261

[5 rows x 33 columns]

In [317]:
#Cambiar la columna month y year a otras similares pero con ordinal Encoder
fct_sales['month']=OrdinalEncoder().fit_transform(fct_sales[['month']]).astype(int)
fct_sales['year']=OrdinalEncoder().fit_transform(fct_sales[['year']]).astype(int)

In [318]:
#Cambiar la columna plan_name a otra similar pero con ordinal Encoder
fct_sales['plan_name']=OrdinalEncoder().fit_transform(fct_sales[['plan_name']]).astype(int)

In [319]:
#cargar el one big table para ML a ml
one_big_table=fct_sales.copy()
one_big_table.to_csv('../data/ml/one_big_table.csv',index=False)